@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001514;
    color: #FBFFFE;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #A10702;
}

.home {
    display: flex;
    position: relative;
    width: max-content;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 100vw;
    width: max-content;
}

.home-content h3 {
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #A10702;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.image-content img {
    max-width: 550px;
    margin-right: 0;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #A10702;
    border-radius: 50%;
    font-size: 20px;
    color: #A10702;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i))
}

.social-media a:hover {
    background: #A10702;
    color: #fff;
    box-shadow: 0 0 20px #A10702;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #A10702;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.tetris {
    background-color: #CD8987;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#my-canvas {
    margin-top: 15vh;
    /* margin-right: -40%; */
    background: transparent;
}

.nav-colored {
    background-color: #CDACA1 !important;
    transition: .5s !important;
    color: black;
}

.nav-colored-2 {
    background-color: #001514 !important;
    transition: .5s !important;
    color: white;
}

.nav-transparent {
    background-color: transparent !important;
    color: white;
    transition: .5s !important;
}

/* RESPONSIVE PROPERTIES */

@media screen and (max-width: 800px) {
    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content {
        display: none;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar a {
        display: none;
    }

    .tetris {
        display: none;
    }
}

/* KEYFRAMES ANIMATION */

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}